@mixin flexBox($flexdir, $justifycont, $alignit) {
  display: flex;
  flex-direction: $flexdir;
  justify-content: $justifycont;
  align-items: $alignit;
};

@mixin iconInlineAlign($marginRight: 5px) {
  vertical-align: middle;
  display: inline-block;
  margin-right: $marginRight;
}